:root {
  --mainprimary: #FA9F1B;
  --primary_hover: #e79110;
  --mainsecondary: #25476A;
  --gradient1: #375471;
  --gradient2: #25476A;

  /* navigation */
  --ntext: #001e3c;
}

.mainwrapper {
  min-height: calc(79vh - 40px);
  background: #ffffff;
  padding: 1.5em;
  border-radius: 8px;
}
.carrdwrapper {
  background: #ffffff;
  padding: 1.5em;
  border-radius: 8px;
}
body #root{
  font-family: 'Poppins', sans-serif;
}

.nodata_comp {
  max-width: 350px;
  width: auto;
  margin: auto;
}

.nodata_comp img {
  width: 100%;
}

.btn_primary {
  background-color: var(--mainsecondary) !important;
  color: #fff !important;
}

.btn_outline_light {
  border-color: #a0a0a0 !important;
  color: #a0a0a0 !important;
}

.btn_black:not([disabled]) {
  background-color: #5f5f5f !important;
  color: #ffffff !important;
}

.stepper_control button {
  min-width: 100px
}

.header_wrap header {
  background: linear-gradient(to left, #514fb6, #4B49AC);
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  box-shadow: none;
}
.profile_menu .MuiPaper-elevation{
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, 
            rgb(145 158 171 / 24%) -20px 20px 40px -4px;
  border-radius: 10px;
  max-width: 205px;
  width: 100%;
}
.profile_menu .header{
  border-bottom: 1px dashed #d6d6d6;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
.profile_menu .header .mail{
  font-size: 13px;
  opacity: .7;
}
.company_table {
  box-shadow: none !important;
}

.add_btn {
  border-color: var(--mainsecondary) !important;
  color: var(--mainsecondary) !important;
}

.add_btn:hover {
  background-color: var(--mainsecondary) !important;
  color: #ffffff !important;
}





/* login page */
.login_wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px #0000001a;
}

body .login_btn {
  /* background-color: var(--mainsecondary) !important; */
  background: linear-gradient(45deg, var(--gradient1), var(--gradient2));
  color: #ffffff !important;
  height: 46px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: rgb(45 78 111 / 20%) 0px 0px 2px 0px,
   rgb(32 59 87 / 35%) 0px 12px 24px -4px
}

.form-control {
  width: 100%;
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 3px;
  padding: 10px;
  box-sizing: border-box;
}
.form-control:focus-visible {
  outline: 0;
  border-color: #426588 !important;
}

body .MuiFormControl-root{
  margin-bottom: 15px;
}

.login_left {
  /* background-color: var(--gradient1); */
  background: linear-gradient(66deg, #193a5b, #7da2c9);
  min-height: 71vh;
  display: flex;
  align-items: center;
}

.login_right {
  padding: 3rem;
}

.login_page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9dded;
}




/*====== Buttons =======*/
.modalaction {
  text-align: right;
  margin-top: 10px;
}

.btn.submit_btn {
  border: 1px solid;
  border-color: var(--mainprimary);
  background-color: var(--mainprimary);
  color: #fff;
  padding: 6px 20px;
  min-width: 120px;
}

.btn.submit_btn:hover {
  border-color: var(--primary_hover);
  background-color: var(--primary_hover);
  color: #fff;
}

.btn.cancel_btn {
  border: 1px solid;
  border-color: #fff;
  background-color: #e0e0e0;
  color: #6b6b6b;
  padding: 6px 20px;
  min-width: 120px;
  margin-right: 10px;
}

body button.MuiButton-root {
  text-transform: capitalize;
}


/* modal */
.modal_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 100%;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  padding-top: 2px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
}
.modal_title{
  margin-top: 0;
}


/* navigation */
.MuiDrawer-root .navigation_menu {
  padding: 10px;
}

.navigation_menu .MuiListItemIcon-root {
  min-width: 45px
}

/* .navigation_menu .MuiListItemIcon-root:focus {
  background: linear-gradient(45deg, #ea656c, #ee5c63);
  border-radius: 11px;
} */

.navigation_menu .MuiListItemButton-root.active {
  background: linear-gradient(45deg, var(--gradient1), var(--gradient2));
  border-radius: 11px;
}
.navigation_menu .MuiListItemText-root > span{
  font-size: .9em;
}
.navigation_menu  .MuiListItemButton-root.active  svg , .navigation_menu  .MuiListItemButton-root.active  span {
  color: #ffffff;
}
.navigation_menu svg {
  color: var(--ntext);
  opacity: .7;
}


.card {
  background-color: #ffffff;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 15px;
  position: relative;
}
.card .card-content {
  padding: 20px;
}
.dashboard_card .title{
  color: var(--mainprimary);
}
.dashboard_card .icon {
  color: var(--mainprimary);
  font-size: 38px;
  opacity: .6;
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.dashboard_card  .count {
  font-size: 36px;
  font-weight: 600;
  color: var(--mainsecondary);
}
.box_title{
  font-weight: 500;
  margin-bottom: 10px;
}

.grid_butons{
  text-align: right;
  margin-bottom: 10px;
}
.grid_butons > button{
  padding: 5px;
  margin: 0 2px;
  background-color: #ffffff;
}
.delivery_box {
  background: #ffffff;
  padding: 1.5em;
  border-radius: 8px;
  position: relative;
}

.delivery_box .title {
    font-size: 12px;
    color: #6e6e6e;
}
.delivery_box .status{
  position: absolute;
  top: 10px;
  right: 10px;
}
.delivery_box .status.pending{
  color: #fad211;
}
.delivery_box .status.complete{
  color: #00aa4f;
}
.delivery_box .listitem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.delivery_box .listitem svg{
  color: #b5b5b5;
  margin-right: 10px;
}

.fab_button.bottom {
  bottom: 30px;
}
.fab_button.right {
  right: 30px;
}
.fab_button {
  position: fixed !important;
}

.orderscount_box{
  display: flex;
  font-size: 10px;
  margin-top: 20px;
  justify-content: space-between;
}
.orderscount_box p{
  margin-bottom: 5px;
}
.orderscount_box p, .orderscount_box .MuiChip-filled{
  font-size: 10px;
}

.title_page {
  font-size: 1.1em;
}

.passwordFld{
  display: flex;
  margin-bottom: 15px;
  position: relative;
}
.passwordFld .form-control{
  margin: 0;
}
.passwordFld .password_icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
}